*,
::before,
::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 10px;
}
.main_wrapper {
  width: 100%;

  height: auto;
  min-height: 100vh;
  background: #fff;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: honeydew;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Hero */

.hero {
  margin-bottom: 50px;
  background: url("./images/hero-bg.png") no-repeat;
  background-size: contain;
  background-position: center;
  height: 550px;
}

/* Media Queries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 670px) {
  .hero {
    background: url("./images/hero-bg-mobile.png") no-repeat;
    background-size: 350px 400px;
    background-position: bottom;
    height: 600px;
  }
}
